.compartment {
  margin: $compartment-margin;
  padding: $compartment-padding;
  max-width: $compartment-max-width;

  @include media($compartment_collapse-padding) {
    padding: 0;
  }
}

.section {
  margin: $section-margin;
}
