/* Base
   ========================================================================== */

body {
    font-family: $base-font-family;
    line-height: $base-line-height;
    color: $base-color;
}

p {
    margin: $base-margin;
}

ul,
ol {
    margin: $list-margin;
    padding: $list-padding;
    ul,
    ol {
        margin: $list-list-margin;
    }
}


/* Headings
   ========================================================================== */

h1,
.h1 {
    margin: $h1-margin;
    padding: $h1-padding;
    font-size: $h1-font-size;
    font-weight: $h1-font-weight;
    line-height: $h1-line-height;
    color: $h1-color;
}

h2,
.h2 {
    margin: $h2-margin;
    padding: $h2-padding;
    font-size: $h2-font-size;
    font-weight: $h2-font-weight;
    line-height: $h2-line-height;
    color: $h2-color;
}

h3,
.h3 {
    margin: $h3-margin;
    padding: $h3-padding;
    font-size: $h3-font-size;
    font-weight: $h3-font-weight;
    line-height: $h3-line-height;
    color: $h3-color;
}

h4,
.h4 {
    margin: $h4-margin;
    padding: $h4-padding;
    font-size: rem(15);
    font-weight: $h4-font-weight;
    line-height: $h4-line-height;
    color: $h4-color;
}

h5,
.h5 {
    margin: $h5-margin;
    padding: $h5-padding;
    font-size: $h5-font-size;
    font-weight: $h5-font-weight;
    line-height: $h5-line-height;
    color: $h5-color;
}

h6,
.h6 {
    margin: $h6-margin;
    padding: $h6-padding;
    font-size: $h6-font-size;
    font-weight: $h6-font-weight;
    line-height: $h6-line-height;
    color: $h6-color;
}