/* ==========================================================================
   Typography
   ========================================================================== */


/* Base
   ========================================================================== */

$base-line-height: 1.4;
$base-font-size: 16px;
$base-font-family: sans-serif;
$base-color: #000;
$base-margin: 1rem 0;
$link-color: #000;
$link_hover-color: #000;

/* Lists
   ========================================================================== */

$list-margin: $base-margin;
$list-padding: 0 1.5rem;
$list-list-margin: .25rem 0;

/* Headings
   ========================================================================== */

$heading-font-weight: 700;
$heading-line-height: inherit;
$heading-color: $base-color;
$heading-margin: 0 0 1rem 0;
$heading-padding: 0;
$h1-margin: $heading-margin;
$h1-padding: $heading-padding;
$h1-font-size: 2rem;
$h1-font-weight: $heading-font-weight;
$h1-line-height: $heading-line-height;
$h1-color: $heading-color;
$h2-margin: $heading-margin;
$h2-padding: $heading-padding;
$h2-font-size: 1.6rem;
$h2-font-weight: $heading-font-weight;
$h2-line-height: $heading-line-height;
$h2-color: $heading-color;
$h3-margin: $heading-margin;
$h3-padding: $heading-padding;
$h3-font-size: 1.6rem;
$h3-font-weight: $heading-font-weight;
$h3-line-height: $heading-line-height;
$h3-color: $heading-color;
$h4-margin: $heading-margin;
$h4-padding: $heading-padding;
$h4-font-size: 1.4rem;
$h4-font-weight: $heading-font-weight;
$h4-line-height: $heading-line-height;
$h4-color: $heading-color;
$h5-margin: $heading-margin;
$h5-padding: $heading-padding;
$h5-font-size: 1.2rem;
$h5-font-weight: $heading-font-weight;
$h5-line-height: $heading-line-height;
$h5-color: $heading-color;
$h6-margin: $heading-margin;
$h6-padding: $heading-padding;
$h6-font-size: 1rem;
$h6-font-weight: $heading-font-weight;
$h6-line-height: $heading-line-height;
$h6-color: $heading-color;

/* ==========================================================================
   Layout
   ========================================================================== */


/* Compartment
   ========================================================================== */

$compartment-max-width: 1160px;
$compartment-padding: 0 1rem;
$compartment-margin: 0 auto;
$compartment_collapse-padding: 1200;

/* Section
   ========================================================================== */

$section-margin: 4rem 0;

/* Monopoly squares
   ========================================================================== */

$small-square-width: calc(1/13*100% - 1px);
$large-square-width: calc(2/13*100% - 1px);
$main-border: rem(1) solid black;