.container {
    position: relative;
    width: rem(50);
    height: rem(50);
    margin: 0 auto 40px;
    perspective: 1000px;
    perspective-origin: 50% 150%;
}

.dice {
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
    p {
        font-size: rem(12);
    }
    div {
        display: block;
        position: absolute;
        width: rem(50);
        height: rem(50);
        background: rgba(0, 200, 100, 1);
        border: 1px solid green
    }
    .front {
        transform: translateZ(25px);
    }
    .back {
        transform: rotateY(180deg) translateZ(25px);
    }
    .top {
        transform: rotateX(-90deg) translateZ(25px);
    }
    .right {
        transform: rotateY(90deg) translateZ(25px);
    }
    .bottom {
        transform: rotateX(90deg) translateZ(25px);
    }
    .left {
        transform: rotateY(-90deg) translateZ(25px);
    }
}

@keyframes rotation {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: rotateX(90deg) rotateY(180deg);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.dot {
    position: absolute;
    transform: translate(-50%, -50%);
    width: rem(10);
    height: rem(10);
    background: white;
    border-radius: 100%;
}

.dot__middle {
    top: 50%;
    left: 50%;
}

.dot__top-left {
    top: 25%;
    left: 25%;
}

.dot__top-right {
    top: 25%;
    left: 75%;
}

.dot__middle-left {
    top: 50%;
    left: 25%;
}

.dot__middle-right {
    top: 50%;
    left: 75%;
}

.dot__bottom-left {
    top: 75%;
    left: 25%;
}

.dot__bottom-right {
    top: 75%;
    left: 75%;
}