<div class="container">
    <div class="dice" id="dice_id">
        <div class="bottom" id="bottom">
            <span class="dot dot__middle"></span>
        </div>
        <div class="left">
            <span class="dot dot__top-left"></span>
            <span class="dot dot__bottom-right"></span>
        </div>
        <div class="back">
            <span class="dot dot__top-left"></span>
            <span class="dot dot__middle"></span>
            <span class="dot dot__bottom-right"></span>
        </div>
        <div class="right">
            <span class="dot dot__top-left"></span>
            <span class="dot dot__top-right"></span>
            <span class="dot dot__bottom-left"></span>
            <span class="dot dot__bottom-right"></span>
        </div>
        <div class="front">
            <span class="dot dot__top-left"></span>
            <span class="dot dot__top-right"></span>
            <span class="dot dot__middle"></span>
            <span class="dot dot__bottom-left"></span>
            <span class="dot dot__bottom-right"></span>
        </div>
        <div class="top">
            <span class="dot dot__top-left"></span>
            <span class="dot dot__top-right"></span>
            <span class="dot dot__middle-left"></span>
            <span class="dot dot__middle-right"></span>
            <span class="dot dot__bottom-left"></span>
            <span class="dot dot__bottom-right"></span>
        </div>
    </div>
</div>
