@import "variables";

.hero {
  position: relative;
  height: $hero-height;
  background-color: $hero-background;
  overflow: hidden;

  &--overlay {
    &:after {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      display: block;
      height: 100%;
      width: 100%;
      background: $hero--overlay-background;
    }
  }

  &--vh {
    height: $hero--vh-height;
  }

  &--callout {
    height: $hero--callout-height;
  }
}

.hero__compartment {
  position: relative;
  height: 100%;
}

.hero__content {
  position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);

  @include media('800') {
    max-width: 50%;
  }

  &--tl {
    left: 0;
    top: auto;
    transform: none;
  }

  &--tc {
    top: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  &--tr {
    top: auto;
    right: 0;
    left: auto;
    transform: none;
  }

  &--cl {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &--cr {
    left: auto;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &--bl {
    top: auto;
    bottom: 1rem;
    left: 0;
    transform: none;
  }

  &--bc {
    top: auto;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &--br {
    top: auto;
    bottom: 1rem;
    left: auto;
    right: 0;
    transform: none;
  }
}

.hero__media {
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  video, iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
  }
}
