$hero-height: 30rem !default;
$hero-background: lightgray !default;
$hero--overlay-background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)) !default;
$hero--vh-height: 100vh !default;
$hero--callout-height: 15rem !default;