<div class="hero hero--callout">
  <div class="hero__compartment compartment">
    <div class="hero__content silc-align--center">
      <h3>Lorem Ipsum</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, amet, numquam quaerat atque autem totam veritatis
        perspiciatis inventore nihil quo debitis, quos praesentium. Culpa, nobis a harum recusandae ducimus dolorum!</p>
    </div>
  </div>
</div>
