<div class="hero hero--vh">
  <div class="hero__media" style="background-image: url('http://placehold.it/1200x1200')">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/LXb3EKWsInQ?muted=1&autoplay=1&loop=1&showinfo=0&controls=0&modestbranding=1"
      frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="hero__compartment compartment">
    <div class="hero__content">
      <h1>Lorem Ipsum</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, amet, numquam quaerat atque autem totam veritatis perspiciatis
      inventore nihil quo debitis, quos praesentium. Culpa, nobis a harum recusandae ducimus dolorum!</p>
    </div>
  </div>
</div>
