<div class="hero hero--vh hero--overlay">
  <div class="hero__media" style="background-image: url('http://via.placeholder.com/1200x1200/ddd/ddd')"></div>
  <div class="hero__compartment compartment">
    <div class="hero__content silc-align--center">
      <h1>Lorem Ipsum</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, amet, numquam quaerat atque autem totam veritatis perspiciatis
        inventore nihil quo debitis, quos praesentium. Culpa, nobis a harum recusandae ducimus dolorum!</p>
    </div>
  </div>
</div>
