#game-token {
    display: block;
    position: absolute;
    top: 97%;
    left: 97%;
    transform: translate(-50%, -50%);
    max-width: rem(30);
    max-height: rem(30);
    width: rem(30);
    height: rem(30);
    background: black;
    transition: all 1s ease;
    z-index: 10;
    border-radius: rem(30);
}

#game__initial-position {
    display: block;
    position: absolute;
    top: 99%;
    left: 99%;
    transform: translate(-100%, -100%);
    width: rem(30);
    height: rem(30);
    box-sizing: border-box;
    border: 1px solid black;
    transition: all 1s ease;
}