// --------------------------------------------------- \\
// silc breadcrumb
// Version: 0.0.1
// Notes:
// --------------------------------------------------- \\
$silc-breadcrumb-seperator: ">";

.breadcrumb {
}

.breadcrumb__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li:not(:last-child) {
    &:after {
      content: $silc-breadcrumb-seperator;
    }
  }
}

.breadcrumb__list-item {
  display: inline-block;
}
