<div class="breadcrumb">
  <ol class="breadcrumb__list">
    <li class="breadcrumb__list-item">
      <a class="breadcrumb__link" href="#">Home</a>
    </li>
    <li class="breadcrumb__list-item">
      <a class="breadcrumb__link" href="#">About</a>
    </li>
    <li class="breadcrumb__list-item">Team</li>
  </ol>
</div>