@import "variables";

.card {
  border: $card-border;
  border-radius: $card-border-radius;
  box-shadow: $card-shadow;
  background: $card-background;
  box-sizing: $card-box-sizing;
  overflow: $card-overflow;
}

.card--hz {
  display: flex;
  border: $card--hz-border;
  box-shadow: $card--hz-shadow;
}

.card--overlay {
  position: relative;
  overflow: hidden;
  border: $card--overlay-border;
  box-shadow: $card--overlay-shadow;
}

.card__cta {
  display: block;
  text-decoration: $card__cta-text-decoration;
  transition: $card__cta_hover-transition;
  will-change: $card__cta-will-change;
  overflow: hidden;

  &:hover {
    background: $card__cta_hover-background;
  }

  .card--hz & {
    display: flex;
    flex: 1;
  }
}

.card__content {
  margin: $card__content-margin;
  padding: $card__content-padding;

  .card--hz & {
    margin: $card--hz__content-margin;
    padding: $card--hz__content-padding;
    flex: 1;
  }
  
  .card--overlay & {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: $card--overlay__content-margin;
    padding: $card--overlay__content-padding;
  }
}

.card__media {
  padding: $card__media-padding;
  margin: $card__media-margin;
  height: $card__media-height;

  img {
    display: block;
    width: 100%;
  }

  .card--hz & {
    margin: $card--hz__media-margin;
    padding: $card--hz__media-padding;
    width: $card--hz__media-width;
    height: $card--hz__media-height;
  }

  .card--overlay & {
    margin: $card--overlay__media-margin;
    height: $card--overlay__media-height;
  }
}
