/** card **/

$card-border: 0 !default;
$card-border-radius: 0 !default;
$card-shadow: 0 !default;
$card-background: transparent !default;
$card-overflow: hidden !default;
$card-box-sizing: border-box !default;

$card__cta-text-decoration: none !default;
$card__cta_hover-background: transparent !default;
$card__cta_hover-transition: background .15s ease-in-out !default;
$card__cta-will-change: background !default;
$card__media-height: auto !default;
$card__media-margin: 0 0 1rem !default;
$card__media-padding: 0 !default;
$card__media-background-repeat: none !default;
$card__media-background-size: cover !default;
$card__media-background-position: center center !default;
$card__content-margin: 0 !default;
$card__content-padding: 0 !default;

/** card--hz **/

$card--hz-border: $card-border !default;
$card--hz-shadow: $card-shadow !default;

$card--hz__media-margin: 0 1rem 0 0 !default;
$card--hz__media-padding: $card__media-padding !default;
$card--hz__media-width: 40% !default;
$card--hz__media-height: $card__media-height !default;
$card--hz__content-margin: $card__content-margin !default;
$card--hz__content-padding: $card__content-padding !default;

/** card--overlay **/

$card--overlay-border: $card-border !default;
$card--overlay-shadow: $card-shadow !default;

$card--overlay__media-margin: 0 !default;
$card--overlay__media-padding: $card__media-padding !default;
$card--overlay__media-height: $card__media-height !default;
$card--overlay__content-margin: $card__content-margin !default;
$card--overlay__content-padding: 1rem 1rem 1px !default;