<div class="card card--overlay">
  <a href="#" class="card__cta">
    <div class="card__media">
      <img src="http://via.placeholder.com/400x250/ddd/ddd" alt="">
    </div>
    <div class="card__content">
      <h2>Card Title</h2>
      <p>Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur.</p>
    </div>
  </a>
</div>