<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="screen" rel="stylesheet" href="{{ path '/css/index.css' }}">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        {{{ yield }}}

        <script src="{{ path '/js/index.js' }}"></script>
        <link media="print" rel="stylesheet" href="{{ path '/css/print.css' }}">
    </body>
</html>
