<div class="carousel" data-flickity='{ "contain": "true", "imagesLoaded": "true" }'>
  <div class="carousel__slide">
    <img src="http://via.placeholder.com/1000x600/?text=1" alt="">
  </div>
  <div class="carousel__slide">
    <img src="http://via.placeholder.com/1000x600/?text=2" alt="">
  </div>
  <div class="carousel__slide">
    <img src="http://via.placeholder.com/1000x600/?text=3" alt="">
  </div>
</div>