<div class="monopoly" id="monopoly_id">
    <div class="monopoly__square-centered" id="main__square-id">
        <ul>
            <li class="corner-square step-space bottom right">
                <h2 class="rotate__-45deg">GO</h2>
            </li>
            <div class="step-space__row bottom rotated">
                <li class="step-space">
                    <div class="color-shape purple"></div>
                    <p class="piece-content">MEDITERRANEAN AVENUE</p></li>
                <li class="step-space">
                    <p class="piece-content">COMMUNITY CHEST</p>
                </li>
                <li class="step-space">
                    <span class="color-shape purple"></span>
                    <p class="piece-content">BALTIC AVENUE</p>
                </li>
                <li class="step-space">
                    <p class="piece-content">READING RAILROAD</p>
                </li>
                <li class="step-space">
                    <p class="piece-content">INCOME TAX</p>
                </li>
                <li class="step-space">
                    <span class="color-shape lila"></span>
                    <p class="piece-content">ORIENTAL AVENUE</p>
                </li>
                <li class="step-space">
                    <span class="color-shape lila"></span>
                    <p class="piece-content">VERMONT AVENUE</p>
                </li>
                <li class="step-space">
                    <p class="piece-content">CHANCE</p>
                </li>
                <li class="step-space">
                    <span class="color-shape lila"></span>
                    <p class="piece-content">CONNECTICUT AVENUE</p>
                </li>
            </div>
            <li class="corner-square step-space bottom left">
                <h3 class="rotate__45deg">IN JAIL OR VISITING</h3>
            </li>
            <div class="step-space__row left">
                <li class="step-space">
                    <span class="color-shape magenta"></span>
                    <p class="piece-content">ST. CHARLES PLACE</p>
                </li>
                <li class="step-space">
                    <p class="piece-content">ELECTRIC COMPANY</p>
                </li>
                <li class="step-space">
                    <span class="color-shape magenta"></span>
                    <p class="piece-content">STATES AVENUE</p>
                </li>
                <li class="step-space">
                    <span class="color-shape magenta"></span>
                    <p class="piece-content">VIRGINIA AVENUE</p>
                </li>
                <li class="step-space">
                    <p class="piece-content">PENNSYLVANIA RAILROAD</p>
                </li>
                <li class="step-space">
                    <span class="color-shape sun-yellow"></span>
                    <p class="piece-content">ST.JAMES PLACE</p>
                </li>
                <li class="step-space">
                    <p class="piece-content">CHEST COMMUNITY</p>
                </li>
                <li class="step-space">
                    <span class="color-shape sun-yellow"></span>
                    <p class="piece-content">TENNESSEE AVENUE</p>
                </li>
                <li class="step-space">
                    <span class="color-shape sun-yellow"></span>
                    <p class="piece-content">NEW YORK AVENUE</p>
                </li>
            </div>
            <li class="corner-square step-space top left">
                <h3 class="rotate__135deg">FREE PASS</h3>
            </li>
            <div class="step-space__row top rotated">
                <li class="step-space">
                    <span class="color-shape red"></span>
                    <p class="piece-content">KENTUCKY AVENUE</p>
                </li>
                <li class="step-space">
                    <p class="piece-content">CHANCE</p>
                </li>
                <li class="step-space">
                    <span class="color-shape red"></span>
                    <p class="piece-content">INDIANA AVENUE</p>
                </li>
                <li class="step-space">
                    <span class="color-shape red"></span>
                    <p class="piece-content">ILLINOIS AVENUE</p>
                </li>
                <li class="step-space">
                    <p class="piece-content">B.&.O RAILROAD</p>
                </li>
                <li class="step-space">
                    <span class="color-shape yellow"></span>
                    <p class="piece-content">ATLANTIC AVENUE</p>
                </li>
                <li class="step-space">
                    <span class="color-shape yellow"></span>
                    <p class="piece-content">VENTNOR AVENUE</p>
                </li>
                <li class="step-space">
                    <p class="piece-content">WATER WORKS</p>
                </li>
                <li class="step-space">
                    <span class="color-shape yellow"></span>
                    <p class="piece-content">MARVIN GARDENS</p>
                </li>
            </div>
            <li class="corner-square step-space top right">
                <h3 class="rotate__-135deg">GO TO JAIL</h3>
            </li>
            <div class="step-space__row right">
                <li class="step-space">
                    <span class="color-shape green"></span>
                    <p class="piece-content">PACIFIC AVENUE</p>
                </li>
                <li class="step-space">
                    <span class="color-shape green"></span>
                    <p class="piece-content">NORTH CAROLINA AVENUE</p>
                </li>
                <li class="step-space">
                    <p class="piece-content">COMMUNITY CHEST</p>
                </li>
                <li class="step-space">
                    <span class="color-shape green"></span>
                    <p class="piece-content">PENNSYLVANIA AVENUE</p>
                </li>
                <li class="step-space">
                    <p class="piece-content">SHORT LINE</p>
                </li>
                <li class="step-space">
                    <p class="piece-content">CHANCE</p>
                </li>
                <li class="step-space">
                    <span class="color-shape blue"></span>
                    <p class="piece-content">PARK PALACE</p>
                </li>
                <li class="step-space">
                    <p class="piece-content">LUXURY TAX</p>
                </li>
                <li class="step-space">
                    <span class="color-shape blue"></span>
                    <p class="piece-content">BOARDWALK</p>
                </li>
            </div>
        </ul>
        <div class="circle-centered">
            <h3>MONOPOLY</h3>
        </div>
        <div class="card-space__chance">
            <h4>COMMUNITY CHEST</h4>
        </div>
        <div class="card-space__chest">
            <h4>CHANCE ¿?¿?</h4>
        </div>
        {{> @game-token}}
        {{> @dice-component}}
    </div>
    <button id="advance-btn">Roll the dice</button>
</div>