.monopoly {
    position: relative;
    width: 90%;
    max-width: rem(800);
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

.monopoly__square-centered {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    margin-top: 100px;
    box-shadow: inset 0 0 0 1px rgb(0, 0, 0);
    background: lightcyan;
}

.step-space__row {
    position: absolute;
    top: $large-square-width;
    left: 0;
    width: $large-square-width;
    height: 0;
    .step-space {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        height: 0;
        padding-top: calc(50% - 0.018em);
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        background: none;
        overflow: hidden;
        z-index: 1;
    }
    &.rotated {
        transform: rotate(-90deg);
    }
    &.top {
        bottom: unset;
        top: calc(1/13*100%);
        left: calc(1/13*100%);
        .step-space {
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            &:last-of-type {
                padding-top: calc(50% - 0.07em);
            }
        }
        .piece-content {
            transform: rotate(270deg);
        }
    }
    &.right {
        left: unset;
        right: 1px;
        top: $large-square-width;
        .step-space {
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            border-right: none;
            &:last-of-type {
                border-bottom: none;
            }
        }
        .piece-content {
            transform: rotate(-90deg);
        }
    }
    &.left {
        left: 0;
        top: calc(100% - 2/13*100% + 1px);
        transform: rotateX(180deg);
        .step-space {
            border-bottom: 1px solid black;
            &:last-of-type {}
        }
        .piece-content {
            transform: rotate(90deg) rotateY(180deg);
        }
    }
    &.bottom {
        top: unset;
        left: calc(100% - 3/13*100% + 1px);
        bottom: $small-square-width;
        transform: rotate(-90deg) rotateX(180deg);
        .step-space {
            border-bottom: 1px solid black;
            &:last-of-type {
                border-bottom: none;
            }
        }
        .piece-content {
            transform: rotate(90deg) rotateY(180deg);
        }
    }
    &.right {}
}

.color-shape {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 0;
    padding-top: 51%;
    background: none;
    &.purple {
        background: purple;
    }
    &.lila {
        background: aqua;
    }
    &.magenta {
        background: magenta;
    }
    &.sun-yellow {
        background: orange;
    }
    &.red {
        background: red;
        right: unset;
        left: 0;
    }
    &.yellow {
        background: yellow;
        left: 0;
    }
    &.green {
        background: green;
        left: 0;
    }
    &.blue {
        background: dodgerblue;
        left: 0;
    }
}

.corner-square {
    position: absolute;
    bottom: 0;
    right: 0;
    width: $large-square-width;
    height: 0;
    //box-shadow: inset 0 0 0 1px rgb(0, 0, 0);
    padding-top: $large-square-width;
    h2,
    h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: rem(15);
        text-align: center;
    }
    &.top {
        top: 0;
        bottom: unset;
        border-bottom: 1px solid black;
    }
    &.bottom {
        top: unset;
        bottom: 0;
        border-top: 1px solid black;
    }
    &.left {
        right: unset;
        left: 0;
        border-right: 1px solid black;
    }
    &.right {
        right: 0;
        left: unset;
        border-left: 1px solid black;
    }
}

.piece-content {
    position: absolute;
    width: 40%;
    height: 70%;
    left: 30%;
    top: -10%;
    word-break: break-word;
    hyphens: auto;
    box-sizing: border-box;
    font-size: rem(9);
    text-align: center;
    transform: rotate(90deg);
}

.circle-centered {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: rem(300);
    height: rem(100);
    background: red;
    h3 {
        width: 100%;
        height: 100%;
        text-align: center;
        margin-top: 5%;
        color: white;
        font-size: rem(50);
    }
}

.card-space__chance {
    position: absolute;
    top: 30%;
    left: 25%;
    width: rem(170);
    height: rem(100);
    border: 1px solid black;
    transform: rotate(-45deg);
    h4 {
        width: 100%;
        height: 100%;
        text-align: center;
        margin-top: 20%;
    }
}

.card-space__chest {
    position: absolute;
    bottom: 30%;
    right: 25%;
    width: rem(170);
    height: rem(100);
    border: 1px solid black;
    transform: rotate(-45deg);
    h4 {
        width: 100%;
        height: 100%;
        text-align: center;
        margin-top: 20%;
    }
}

//ROTATIONS
.rotate__-45deg {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.rotate__45deg {
    transform: translate(-50%, -50%) rotate(45deg)
}

.rotate__90deg {
    transform: translate(-50%, -50%) rotate(90deg)
}

.rotate__-90deg {
    transform: translate(-50%, -50%) rotate(-90deg)
}

.rotate__-135deg {
    transform: translate(-50%, -50%) rotate(-135deg)
}

.rotate__135deg {
    transform: translate(-50%, -50%) rotate(135deg)
}